<html>
  <head><title>Cloud Capacity Management</title></head>
  <body>
    <p style="font-size:28pt;text-align:center;padding-top:72pt">
      Instance <em><%= @id %></em> is spinning up.
    </p>
    <p style="text-align:center;padding-top:24pt">
      <%= link_to "Back", "javascript: history.go(-1)" %>
    </p>
  </body>
</html>
