<html>
  <head>
    <title>Cloud Capacity Management</title>
    <style type="text/css">
      div.info-header, div.info {
        font-size: 14pt;
        text-align: center;
        width: 600px;
        margin: 0 auto 0 auto;
        padding: 5px;
      }
      div.info-header {
        background-color: #44f;
        color: #fff;
        margin-top: 72px;
      }
      div.info {
        border-bottom: 2px solid #44f;
        background-color: #ccf;
      }
      p.technobabble {
        color: #888;
        font-size: 10pt;
      }
    </style>
  </head>
  <body>
    <div class="info-header">
      Cloud Capacity Management
    </div>
    <div class="info">
      <p>
        To ensure optimum performance, we are increasing the number of
        virtual servers running your applicaton.
      </p>
      <p>
        This will only take a
        few minutes, and should be invisible to you.
      </p>
      <p class="technobabble">
        Technobabble: Instance <em><%= @id %></em> currently spinning up.
      </p>
      <br />
      <%= button_to "Back", "javascript: history.go(-1)" %>
    </div>
  </body>
</html>
